body {
  font-family: Arial, sans-serif;
  direction: rtl;
  margin: 0;
  background: #302f2f;
}

.intro {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  background: #2e2d2d;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.intro-logo {
  width: 220px;
  animation: zoomIn 2s ease-in-out;
}

@keyframes zoomIn {
  0% { transform: scale(0.2); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

header {
  background: #eeeaea;
  color: rgb(31, 30, 30);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-small {
  width: 50px;
  border-radius: 6px;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.product {
  background: rgb(241, 237, 237);
  padding: 10px;
  border: 1px solid #242222c9;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgb(90, 196, 86);
}

.product img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.whatsapp {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: #25D366;
  color: white;
  padding: 10px 15px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
}
@media (max-width: 600px) {
  .products {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product {
    width: 98%;
    margin: 10px 0;
    box-sizing: border-box;
  }
  .product img {
    width: 100%;
    height: auto;
    max-width: 350px;
    display: block;
    margin: 0 auto 10px auto;
  }
  input#searchInput {
    width: 95% !important;
    max-width: 100% !important;
    font-size: 18px;
  }
}
